@font-face {
  src: local('Montserrat-Light'), url('./assets/fonts/Montserrat-Light.ttf') format('truetype');
  font-family: 'Montserrat';
  font-weight: 300;
}

@font-face {
  src: local('Montserrat-Regular'), url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-family: 'Montserrat';
  font-weight: 400;
}

@font-face {
  src: local('Montserrat-Medium'), url('./assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-family: 'Montserrat';
  font-weight: 500;
}

@font-face {
  src: local('Montserrat-SemiBold'), url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-family: 'Montserrat';
  font-weight: 600;
}

@font-face {
  src: local('Montserrat-Bold'), url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-family: 'Montserrat';
  font-weight: 700;
}

.os-theme-dark.os-custom, .os-theme-light.os-custom {
  --os-size: 8px;
  --os-padding-perpendicular: 0px;
  --os-padding-axis: 0px;
  --os-track-border-radius: 0px;
  --os-handle-border-radius: 0px;
}

.os-theme-dark.os-custom {
  --os-handle-bg: rgba(0, 0, 0, 0.16);
  --os-handle-bg-hover: rgba(0, 0, 0, 0.24);
  --os-handle-bg-active: rgba(0, 0, 0, 0.32);
}

.os-theme-light.os-custom {
  --os-handle-bg: rgba(255, 255, 255, 0.16);
  --os-handle-bg-hover: rgba(255, 255, 255, 0.24);
  --os-handle-bg-active: rgba(255, 255, 255, 0.32);
}